@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de colores */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Estilos globales */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Animations */
.fade-in {
  @apply opacity-0 translate-y-3 transition-all duration-500 ease-out;
}

.fade-in.show {
  @apply opacity-100 translate-y-0;
}