name: TripTailor CI/CD

on:
  push:
    branches: ["main", "develop"]

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Login GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build backend image
      run: |
        cd backend
        docker build -t ghcr.io/${{ github.repository }}/backend:${{ github.sha }} .

    - name: Push backend image
      run: |
        docker push ghcr.io/${{ github.repository }}/backend:${{ github.sha }}

  frontend:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Login GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build frontend image
      run: |
        cd frontend
        docker build -t ghcr.io/${{ github.repository }}/frontend:${{ github.sha }} .

    - name: Push frontend image
      run: |
        docker push ghcr.io/${{ github.repository }}/frontend:${{ github.sha }}
